<h1>Stupid Coaching</h1>
<p>Ask your couch anything:</p>
<form action="/answer" method="get" class="d-flex  text-white">>
  <input type="text" name="member" class="form-control" placeholder="ask your quesiton here">
  <input type="submit" class="btn btn-primary">
</form>
